<div class="main">
  <div class="container">
    <div class="logo">
      <img src="golee-logo-red.png" alt="Golee" />
    </div>
    <div class="menu">
      <p class="mb-20 font-bold">Golee</p>
      <p class="mb-0 font-bold">Sede operativa</p>
      <p class="mb-0">Via Massimo D'Azeglio, 3</p>
      <p class="mb-20">20154 Milano MI</p>
      <p class="font-bold mb-0">Sede legale</p>
      <p class="mb-0">Corso Monforte, 7</p>
      <p class="mb-0">20137 Milano MI</p>
    </div>
    <div class="menu">
      <p class="mb-20 font-bold">Contatti</p>
      <a href="mailto:info@golee.it" class="mb-0">info@golee.it</a>
      <a href="mailto:supporto@golee.it" class="mb-0">supporto@golee.it</a>
    </div>
    <div class="menu">
      <p class="mb-20 font-bold">Applicazioni</p>
      <a href="/golee-manager/" class="mb-0">Golee Manager</a>
      <a href="/golee-coach/" class="mb-0">Golee Coach</a>
      <a href="/golee-store/" class="mb-0">Golee Store</a>
      <a href="/golee-web/" class="mb-20">Golee Web</a>
      <a href="/prezzi/" class="mb-0">Prezzi</a>
      <a href="/contatti/" class="mb-0">Contattaci</a>
      <a href="/registrati/" class="mb-0">Prova gratis</a>
      <a href="/faq/" class="mb-0">FAQ</a>
      <a href="/lavora-con-noi/" class="mb-0">Lavora con noi</a>
    </div>
    <div class="menu">
      <p class="mb-20 font-bold">Note legali</p>
      <a target="_blank" href="/privacy-policy/" class="mb-0">Privacy Policy</a>
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/privacy/dpa.pdf"
        class="mb-20"
        >DPA</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/golee-payments/Condizioni_Generali_Golee_Manager.pdf"
        class="mb-0"
        >Tos Golee Manager</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/golee-payments/Condizioni_generali_Golee_Financial.pdf"
        class="mb-0"
        >Tos Golee Financial</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/golee-payments/Condizioni_generali_Golee_Web.pdf"
        class="mb-0"
        >Tos Golee Web</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/golee-payments/Condizioni_generali_Golee_Coach.pdf"
        class="mb-0"
        >Tos Golee Coach</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/golee-payments/Condizioni_generali_Golee_Store.pdf"
        class="mb-20"
        >Tos Golee Store</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/privacy/informativa-web.pdf"
        class="mb-0"
        >Informativa Sito</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/privacy/informativa-cookie.pdf"
        class="mb-0"
        >Informativa Cookie</a
      >
      <a
        target="_blank"
        href="https://storage.googleapis.com/gle-assets/privacy/misure-sicurezza.pdf"
        class="mb-0"
        >Misure di Sicurezza</a
      >
    </div>
    <div class="menu">
      <a href="/" class="mb-0">Italiano</a>
      <a href="/en" class="mb-0">English</a>
      <p class="mb-0">–</p>
      <a href="https://www.facebook.com/goleeIT/" class="mb-0" target="_blank"
        >Facebook</a
      >
      <a
        href="https://www.instagram.com/golee_org/"
        class="mb-0"
        target="_blank"
        >Instagram</a
      >
      <a
        href="https://it.linkedin.com/company/golee"
        class="mb-0"
        target="_blank"
        >LinkedIn</a
      >
      <a
        href="https://www.youtube.com/channel/UC7CtuLPRMCCNgj92J_K7VLA"
        class="mb-0"
        target="_blank"
        >Youtube</a
      >
    </div>
  </div>
  <div class="logos mt-40 mb-40">
    <div class="logo">
      <img src="images/footer/ministero.png" alt="Golee" />
    </div>
    <div class="logo">
      <img src="images/footer/pon.png" alt="Golee" />
    </div>
    <div class="logo">
      <img src="images/footer/smart.png" alt="Golee" />
    </div>
    <div class="logo">
      <img src="images/footer/invitalia.png" alt="Golee" />
    </div>
  </div>
</div>
<div class="copy">
  <div class="container">
    <!-- empty column to avoid handle in css (lazy fix for bad request) -->
    <div class="hidden-sm"></div>
    <div class="hidden-sm"></div>
    <a>Copyright © 2020 Golee</a>
    <a>Gle Holding Srl / P.IVA: 10327970967</a>
  </div>
</div>
