<header id="header" class="team fixed">
  <div class="container">
    <div class="logo">
      <a href="/" class="stratos _primary">
        <img src="golee-logo-red.png" />
        <span>golee</span>
      </a>
    </div>
    <div class="menu stratos">
      <a id="applications-link" href="https://golee.it/golee-manager/" class=""
        >Applicazioni</a
      >
      <!-- Hover menu of apps -->
      <div class="applications"></div>

      <a class="" href="https://golee.it/prezzi/">Prezzi</a>
      <a class="" href="https://golee.it/team/">Team</a>
      <a class="" href="https://golee.it/contatti/">Contattaci</a>
    </div>
    <div class="auth stratos">
      <a
        class=""
        href="https://manager.golee.it/"
        target="_blank"
        id="signInButton"
        >Login</a
      >
      <a class="btn btn-primary" id="signUpButton" href="/registrati/"
        >Registrati gratis</a
      >

      <div class="lang-switcher">
        <div class="current" id="lang-switch">
          <div class="lang">
            <img
              src="https://storage.googleapis.com/gle-assets/flags/italy.png"
            />

            <i class="las la-angle-down"></i>
          </div>

          <div class="lang-selectors">
            <a href="/" class="select">
              <div>
                <img
                  src="https://storage.googleapis.com/gle-assets/flags/italy.png"
                />
                <span>Italiano</span>
              </div>
            </a>
            <a href="/en" class="select">
              <div>
                <img
                  src="https://storage.googleapis.com/gle-assets/flags/united_kingdom.png"
                />
                <span>English</span>
              </div>
            </a>
            <a href="/es" class="select">
              <div>
                <img
                  src="https://storage.googleapis.com/gle-assets/flags/spain.png"
                />
                <span>Espanol</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<header id="mobile-header" class="fixed">
  <div class="container">
    <div class="logo">
      <a href="/" class="stratos _primary">
        <img src="golee-logo-red.png" />
        <span>golee</span>
      </a>
    </div>
    <div class="icon">
      <i class="las la-bars"></i>
    </div>
  </div>
</header>
<div class="mobile-menu">
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="/" class="stratos _primary">
          <span>golee</span>
        </a>
      </div>
      <div class="icon">
        <i class="las la-times"></i>
      </div>
    </div>

    <div class="menu stratos">
      <div class="main">
        <a id="applications-link-mobile"
          >Applicazioni <i class="las la-angle-right"></i
        ></a>
        <div class="applications stratos">
          <a class="" href="/golee-manager/">Golee Manager</a>
          <a class="" href="/golee-coach/">Golee Coach</a>
          <a class="" href="/golee-store/">Golee Store</a>
          <a class="" href="/golee-web/">Golee Web</a>
        </div>
        <a class="" href="/prezzi/">Prezzi</a>
        <a class="" href="/team/">Team</a>
        <a class="" href="/contatti/">Contattaci</a>
      </div>

      <div class="auth stratos">
        <a
          class="text-center d-block mb-10"
          style="border: 0"
          href="https://manager.golee.it/"
          target="_blank"
          id="signInButton"
          >Login</a
        >

        <a
          class="btn btn-primary btn-block"
          href="/registrati/"
          id="signUpButton"
          >Registrati gratis</a
        >

        <div class="lang-switcher">
          <a href="/">
            <img
              src="https://storage.googleapis.com/gle-assets/flags/italy.png"
              class="active"
            />
          </a>
          <a href="/en">
            <img
              src="https://storage.googleapis.com/gle-assets/flags/united_kingdom.png"
              class=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
